body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #683dac, #717ec4);
    background: linear-gradient(to right, #683dac, #717ec4); 
}
#contenido {
    border-radius: 10px;
    background-color: white;
    margin-top: 40px;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
#contenido::after {
    clear: both;
    display: block;
    content: '';
}
header {
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
h2 {
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
form {
    margin: 30px 0;
}
#loaders {
    text-align: center;
}
#loaders img {
    width: 150px;
    margin: 0 auto;
    /* display: none; */
}
#resetBtn {
    float: right;
}

#spinner {
    display: none;
}

.borrar-tweet{
    cursor: pointer;
    color: rgb(90, 21, 21);
    font-weight: bold;
    transition: all 300ms;
}

.borrar-tweet:hover {
    color: red;
    font-size: 17px;
    font-weight: bold;
}

#resultado{
    overflow-wrap: break-word;
}